@charset "UFT-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face {
    font-family: 'Android';
    src: url('../fontes/idroid.otf') format('opentype');
    font-weight: normal;
}

:root {
    --cor01: #C5EBD6;
    --cor02: #83e1ad;
    --cor03: #3ddc84;
    --cor04: #2fa866;
    --cor05: #063d1e;

    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
    --fonte-destaque: "Bebas Neue", cursive;
    --fonte-android: "Android";
}

* {
    margin: 0px;
    padding: 0px;
}


body {
    background-color: var(--cor01) ;
    font-family: var(--fonte-padrao);
}

main p {
    margin: 15px 0px;
    text-align: justify;
    text-indent: 40px;
    line-height: 2em;
}

main strong {
    color: var(--cor04);
    font-weight: bold;   
}

main a {
    text-decoration: none;
    font-weight: bold;
    color: var(--cor05);
    background-color: var(--cor01);
    padding: 2px 6px;
}

main a:hover {
    text-decoration: underline;
    color: var(--cor04);
}

header {
    background-color: var(--cor05);
    min-height: 150px;
    padding-top: 40px;
    text-align: center;
    background-image: linear-gradient(to bottom, var(--cor04), var(--cor05));
}

header > h1 {
    color: white;
    font-family: var(--fonte-destaque);
    font-size: 3em;
    font-weight: normal;
    padding-bottom: 20px ;
}

header > p {
    color: white;
    font-family: var(--fonte-padrao);
    font-size: 1.2em;
    max-width: 500px;
    margin: auto;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 50px;
}

nav {
    background-color: var(--cor05);
    padding: 10px;
    box-shadow: 0px 7px 9px rgba(0, 0, 0, 0.281);
}

nav > a {
    color: var(--cor02);
    font-weight: bold;
    padding: 10px; 
    text-decoration: none;
    border-radius: 5px;
    transition-duration: 0.3s;
}

nav >a:hover {
    background-color: var(--cor03);
    color: var(--cor05);
}

main {
    background-color: white;
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    margin-bottom: 30px;
    padding: 20px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-top: 2px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.205);
}

main img {
    width: 100%;
}

main img.pequena {
    max-width: 300px;
    margin: auto;
    display: block;
}

main  h1 {
    color: var(--cor05);
    font-family: var(--fonte-android);
    font-weight: normal;
    font-size: 1.7em;
}

main h2 {
    font-family: var(--fonte-android);
    font-size: 1.3em;
    color: var(--cor05);
    background-image: linear-gradient(to right, var(--cor02), transparent);
    text-indent: 5px;
    font-weight: normal;
}

div.video {
    background-color: var(--cor05);
    margin: 0px -20px 20px -20px;
    padding: 20px;
    padding-bottom: 57%;
    position: relative;
}

div.video > iframe {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}

aside {
    background-color: var(--cor02);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.123);
}

aside > h3 {
    background-color: var(--cor05);
    color: white;
    padding: 10px;
    margin: -10px -10px 0px -10px;
    border-radius: 10px 10px 0px 0px;
}

aside > ul {
    list-style-type: '\2714\00A0\00A0';
    list-style-position: inside;
    columns: 2;
}


footer {
    background-color: var(--cor05);
    color: white;
    text-align: center;
    font-size: 0.8em;
    padding: 5px;
}

footer a {
    color: white;
    font-weight: bolder;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
    color: var(--cor02);
}